body {
    background-color:#d4e2fd;
    font: 'Gotham Book', Gotham-Book, Arial, sans-serif;
    /* color: #FFFFFF; */
    color: #000000;
}
h1 {
    padding-top: 50px;
    padding-bottom: 20px;
}
h3 {
    padding-top: 0px;
    padding-bottom: 50px;
}
h6 {
    padding-top: 10px;
    padding-bottom: 20px;
    text-align:center;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    /*font-weight: 700;
    letter-spacing: 1px;
     text-transform: uppercase;*/
    margin-top:15px;
    margin-bottom:15px;
    width: 50%;
}
.btn-primary {
/*    background: #0099cc; */
    background: #f69e7b;
    color: #ffffff;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
    background: #eb6027;
}
 
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    /*    background: #33a6cc; */
    background: #eb6027;
}
 
.btn-primary:active, .btn-primary.active {
/*    background: #007299; */
    background: #eb6027;
    box-shadow: none;
}

